/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
.body{
  background-color: #FAF33E;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
  border: 0.2em solid #4B2E39;
  padding: 1em;
  margin: 1em;
  background-color: #1789FC;
  flex: 2;
  border-radius: 0.5em;
}
.box1{
  border: 0.2em solid #4B2E39;
  padding: 1em;
  margin: 1em;
  background-color: #AE759F;
  text-align: center;
  border-radius: 0.5em;
  flex: 2;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 60em) { /* 960px */
  .container {
    display: flex;
  }
}
